.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #005eed !important;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #005eed !important;
    box-shadow: 0 1px 0 0 #005eed !important;
}


.bold {
    font-weight: bold;
}

.code-container {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}


.verif-tt {
    margin-left: 20px;
    transform: translateY(15px);
    font-size: 0.8em;
}
